body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.bang {
    width: 1200px;
    margin: 0 auto;
    height: 10000px;
}
p{
    padding: 5px 0;
    margin: 0;
}

.bangsanpham {
    width: 100%;
    border-collapse: collapse;
}

.bangsanpham th, .bangsanpham td {
    border: 1px solid #ddd;
    padding: 15px;
}

.bangsanpham img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.bangsanpham td {
    text-align: left;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bangsanpham caption {
    font-size: 18px;
    padding: 10px;
    font-weight: 600;
    text-align: left;
}

.bangsanpham .ngoisao {
    color: gold;
    font-size: 20px;
    padding: 0;
    margin: 0;
  }

  .bangsanpham .ngoisaocuoi {
    color: gray;
  }

.bangsanpham .danh_gia{
    padding: 0;
    margin: 0;
    color: gray;
    font-size: 12px;
}
